@font-face {
	font-family: "BestTenCRT";
	src: url("https://r2.shikiiro.net/BestTen-CRT.otf");
	font-display: swap;
}

@font-face {
	font-family: "DotGothic16";
	src: url("https://r2.shikiiro.net/DotGothic16-Regular.ttf");
}

@font-face {
	font-family: "ArkPixel12ZHCN";
	src: url("https://r2.shikiiro.net/ark-pixel-12px-proportional-zh-cn.otf");
}

@font-face {
	font-family: "FusionPixel10KO";
	src: url("https://r2.shikiiro.net/fusion-pixel-10px-proportional-ko.otf");
}

@font-face {
	font-family: "CascadiaMonoNF";
	src: url("https://r2.shikiiro.net/CascadiaMonoNF.ttf");
}
