@font-face {
	font-family: "BestTenCRT";
	src: url("https://storage.shikiiro.net/fonts/BestTen-CRT.otf");
	font-display: block;
}

@font-face {
	font-family: "DotGothic16";
	src: url("https://storage.shikiiro.net/fonts/DotGothic16-Regular.ttf");
	font-display: block;
}

@font-face {
	font-family: "ArkPixel12ZHCN";
	src: url("https://storage.shikiiro.net/fonts/ark-pixel-12px-proportional-zh-cn.otf");
	font-display: block;
}

@font-face {
	font-family: "FusionPixel10KO";
	src: url("https://storage.shikiiro.net/fonts/fusion-pixel-10px-proportional-ko.otf");
	font-display: block;
}

@font-face {
	font-family: "CascadiaMonoNF";
	src: url("https://storage.shikiiro.net/fonts/CascadiaMonoNF.ttf");
	font-display: block;
}

@font-face {
	font-family: "きろ字";
	src: url("https://storage.shikiiro.net/fonts/kiloji.ttf");
	font-display: block;
}

@font-face {
	font-family: "ArkPixelJA";
	src: url("https://storage.shikiiro.net/fonts/ark-pixel-12px-proportional-ja.otf");
	font-display: block;
}
