@layer aki-reset, base;

@layer base {
	body:not([data-layout="os"]) {
		*[data-cursor="pointer"] {
			cursor: pointer;
		}

		*[data-cursor="default"] {
			cursor: default;
		}

		*[data-cursor="text"] {
			cursor: text;
		}
	}
}
